# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
tester = pd.read_csv()

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

In [2]:
cars = pd.read_csv("data/vehicles.csv")

In [4]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [77]:
### 3608

3608

In [67]:
# code here to keep the result!
(cars["Model"].nunique())

3608

group by the data by the Make  using count function

In [79]:
###

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,Fuel Cost/Year,CO2 Emission Grams/Km,City Km/Liter,Highway Km/Liter,Combined Km/Liter
Make,,,,,,,,,,,,,,
AMG,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

In [85]:
# code here to keep the result!

What brand has the most cars?

In [ ]:
### your code us here

In [73]:
cars[cars['Make']=="Chevrolet"].value_counts()

Make       Model                 Year  Engine Displacement  Cylinders  Transmission                      Drivetrain         Vehicle Class                Fuel Type                   Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  CO2 Emission Grams/Mile  Fuel Cost/Year
Chevrolet  Astro 2WD (cargo)     1985  2.5                  4.0        Automatic 4-spd                   Rear-Wheel Drive   Vans                         Regular                     16.480500          18        24           20            444.350000               1650              1
           S10 Blazer 2WD        1985  2.8                  6.0        Manual 4-spd                      Rear-Wheel Drive   Special Purpose Vehicle 2WD  Regular                     17.347895          17        23           19            467.736842               1750              1
           R20 (C20) Pickup 2WD  1987  4.3                  6.0        Automatic 3-spd                   Rear-Wheel Drive   Standard Pickup Trucks       Regular                     23.543571          14        15           14            634.785714               2400              1
                                                                       Automatic 4-spd                   Rear-Wheel Drive   Standard Pickup Trucks       Regular                     21.974000          14        17           15            592.466667               2200              1
                                                                       Manual 4-spd                      Rear-Wheel Drive   Standard Pickup Trucks       Regular                     21.974000          14        16           15            592.466667               2200              1
                                                                                                                                                                                                                                                                                       ..
           Corsica               1996  3.1                  6.0        Automatic 4-spd                   Front-Wheel Drive  Compact Cars                 Regular                     15.695714          18        27           21            423.190476               1600              1
           Corvette              1985  5.7                  8.0        Automatic 4-spd                   Rear-Wheel Drive   Two Seaters                  Regular                     19.388824          15        21           17            522.764706               1950              1
                                                                       Manual 4-spd                      Rear-Wheel Drive   Two Seaters                  Regular                     19.388824          15        20           17            522.764706               1950              1
                                 1986  5.7                  8.0        Automatic 4-spd                   Rear-Wheel Drive   Two Seaters                  Regular                     18.311667          15        22           18            493.722222               1850              1
           Volt                  2017  1.5                  4.0        Automatic (variable gear ratios)  Front-Wheel Drive  Compact Cars                 Regular Gas or Electricity  2.006844           43        42           42            51.000000                800               1
Length: 3643, dtype: int64

In [83]:
print(f"{cars['Make'].value_counts().index[0]} has the most cars ({cars['Make'].value_counts()[0]}).")

Chevrolet has the most cars (3643).

In [82]:
cars.groupby("Make")["Make"].count().sort_values(ascending=False)

Make
Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [90]:
cars["CO2 Emission Grams/km"]=cars["CO2 Emission Grams/Mile"]*(1/1.60934)
# vehicles_df.rename(columns={"CO2 Emission Grams/Mile":"CO2 Emission Grams/Km"}, inplace=True)
# vehicles_df
cars[["CO2 Emission Grams/km", "CO2 Emission Grams/Mile"]]

       CO2 Emission Grams/km  CO2 Emission Grams/Mile
0                 324.831736               522.764706
1                 424.779962               683.615385
2                 345.133719               555.437500
3                 424.779962               683.615385
4                 345.133719               555.437500
...                      ...                      ...
35947             151.614948               244.000000
35948             150.993575               243.000000
35949             151.614948               244.000000
35950             152.857693               246.000000
35951             158.450048               255.000000

[35952 rows x 2 columns]

In [95]:
cars.groupby(['Make'])[['CO2 Emission Grams/km']].mean()

                             CO2 Emission Grams/km
Make
AM General                              379.881345
ASC Incorporated                        345.133719
Acura                                   262.583000
Alfa Romeo                              288.287195
American Motors Corporation             314.264744
...                                            ...
Volkswagen                              244.038998
Volvo                                   270.796572
Wallace Environmental                   408.857065
Yugo                                    221.251107
smart                                   153.498052

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [99]:
cars.groupby('Make')['CO2 Emission Grams/km'].mean().sort_values(ascending=False)

Make
Vector                                651.919248
Superior Coaches Div E.p. Dutton      552.213951
S and S Coach Company  E.p. Dutton    552.213951
Bugatti                               542.497235
Laforza Automobile Inc                502.012683
                                         ...
MINI                                  194.935105
Daihatsu                              192.742404
Fiat                                  189.311494
smart                                 153.498052
Fisker                                105.011992
Name: CO2 Emission Grams/km, Length: 127, dtype: float64

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [130]:
cars["Decade"] = pd.cut(cars['Year'], bins=[1980,1990,2000,2010,2020], labels=["1980s","1990s","2000s","2010s"])

In [129]:
cars.groupby("Decade")["CO2 Emission Grams/km"].mean().sort_values()

Decade
2010s    261.819246
2000s    300.148706
1990s    305.704902
1980s    310.591939
Name: CO2 Emission Grams/km, dtype: float64

In [5]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [134]:
## your code here

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [135]:
cars["City Km/Liter"]=cars["City MPG"]*(1.60934/3.78541)
cars["Highway Km/Liter"]=cars["Highway MPG"]*(1.60934/3.78541)
cars["Combined Km/Liter"]=cars["Combined MPG"]*(1.60934/3.78541)
#cars.rename(columns={"City MPG":"City Km/Liter","Highway MPG":"Highway Km/Liter","Combined MPG":"Combined Km/Liter"}, inplace=True)

In [136]:
cars.groupby(["Decade","Make"])[["City Km/Liter"]].mean()

                                    City Km/Liter
Decade Make
1980s  AM General                        6.377143
       ASC Incorporated                  5.952000
       Acura                             8.174338
       Alfa Romeo                        7.321905
       American Motors Corporation       6.821610
...                                           ...
2010s  Volkswagen                       10.164632
       Volvo                             8.470403
       Wallace Environmental                  NaN
       Yugo                                   NaN
       smart                            14.211918

[508 rows x 1 columns]

In [133]:
cars.groupby(["Decade","Make"])[["CO2 Emission Grams/km"]].mean()

                                    CO2 Emission Grams/km
Decade Make
1980s  AM General                              379.881345
       ASC Incorporated                        345.133719
       Acura                                   264.463085
       Alfa Romeo                              288.426326
       American Motors Corporation             314.264744
...                                                   ...
2010s  Volkswagen                              214.410174
       Volvo                                   242.932543
       Wallace Environmental                          NaN
       Yugo                                           NaN
       smart                                   153.543176

[508 rows x 1 columns]

In [143]:
cars.groupby(["Decade","Make"])["CO2 Emission Grams/km"].mean().sort_values()

Decade  Make
2010s   Fisker                         105.011992
2000s   smart                          153.392764
2010s   smart                          153.543176
1980s   Daihatsu                       182.821565
2010s   Fiat                           189.311494
                                          ...
        Vector                                NaN
        Vixen Motor Company                   NaN
        Volga Associated Automobile           NaN
        Wallace Environmental                 NaN
        Yugo                                  NaN
Name: CO2 Emission Grams/km, Length: 508, dtype: float64

Which brands are more environment friendly?

In [77]:
### your code is here

                                    CO2_Emission_Grams/Km
Decade Brand
80s    AMG                                     379.881345
       ASC                                     345.133719
       Acura                                   268.497682
       Alfa Romeo                              286.715163
       American Motors Corporation             314.264744
...                                                   ...
10s    Volkswagen                              219.440984
       Volvo                                   250.429309
       Wallace Environmental                          NaN
       Yugo                                           NaN
       smart                                   153.509751

[488 rows x 1 columns]

Does the drivetrain affect fuel consumption?

In [146]:
cars.groupby(["Decade","Make"])[["CO2 Emission Grams/km"]].mean()

                                    CO2 Emission Grams/km
Decade Make
1980s  AM General                              379.881345
       ASC Incorporated                        345.133719
       Acura                                   264.463085
       Alfa Romeo                              288.426326
       American Motors Corporation             314.264744
...                                                   ...
2010s  Volkswagen                              214.410174
       Volvo                                   242.932543
       Wallace Environmental                          NaN
       Yugo                                           NaN
       smart                                   153.543176

[508 rows x 1 columns]

In [148]:
cars.groupby(["Drivetrain"])[["Highway Km/Liter","City Km/Liter"]].mean().sort_values(by='Highway Km/Liter', ascending=False)

                            Highway Km/Liter  City Km/Liter
Drivetrain
2-Wheel Drive, Front               14.029714      10.628571
Front-Wheel Drive                  12.166210       9.002214
All-Wheel Drive                    10.882531       7.785598
4-Wheel Drive                       9.668584       7.190861
Rear-Wheel Drive                    9.023946       6.556574
4-Wheel or All-Wheel Drive          8.347130       6.392049
2-Wheel Drive                       8.222444       6.642480
Part-time 4-Wheel Drive             8.115385       6.215696

In [139]:
## Your Code here

                            Highway_Km/Liter  City_Km/Liter
Drivetrain
2-Wheel Drive, Front               14.029714      10.628571
Front-Wheel Drive                  12.166210       9.002214
All-Wheel Drive                    10.882531       7.785598
4-Wheel Drive                       9.668584       7.190861
2-Wheel Drive                       8.222444       6.642480
Rear-Wheel Drive                    9.023946       6.556574
4-Wheel or All-Wheel Drive          8.347130       6.392049
Part-time 4-Wheel Drive             8.115385       6.215696

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [149]:
# my solution
cars['Trans'] = list(map(lambda x: "Automatic" if (x.startswith('Auto')) else "Manual", cars['Transmission']))

In [151]:
cars.groupby(["Drivetrain"])["CO2 Emission Grams/km"].mean().sort_values()

Drivetrain
2-Wheel Drive                 352.471110
Part-time 4-Wheel Drive       345.610707
4-Wheel or All-Wheel Drive    343.189018
Rear-Wheel Drive              328.978602
4-Wheel Drive                 300.468073
All-Wheel Drive               273.163299
Front-Wheel Drive             239.287091
2-Wheel Drive, Front          195.732412
Name: CO2 Emission Grams/km, dtype: float64

In [153]:
cars.groupby("Trans")[["City Km/Liter"]].mean().sort_values(by="City Km/Liter",ascending=False)

           City Km/Liter
Trans
Manual          7.968348
Automatic       7.278292

In [80]:
## Your Code here

           City_Km/Liter
Trans
Manual          7.968348
Automatic       7.278292

In [207]:
cars.groupby(["Trans"]).agg({"City Km/Liter":"mean","Trans":"count"})

           City Km/Liter  Trans
Trans
Automatic       7.278292  24290
Manual          7.968348  11662

Use `groupby` and `aggregate` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [143]:
## your code is here

           City_Km/Liter  Trans
Trans
Automatic       7.278292  24290
Manual          7.968348  11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [144]:
### your code is here

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857

In [183]:
cars.groupby(["Trans"])[["City Km/Liter"]].agg(min)

           City Km/Liter
Trans
Automatic       2.976000
Manual          2.550857