# Using Pandas

In [229]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [230]:
## Your Code here
vehicles_df = pd.read_csv("data/vehicles.csv")
print(vehicles_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB
None

In [231]:
print(vehicles_df.describe())

              Year  Engine Displacement     Cylinders  Fuel Barrels/Year  \
count  35952.00000         35952.000000  35952.000000       35952.000000
mean    2000.71640             3.338493      5.765076          17.609056
std       10.08529             1.359395      1.755268           4.467283
min     1984.00000             0.600000      2.000000           0.060000
25%     1991.00000             2.200000      4.000000          14.699423
50%     2001.00000             3.000000      6.000000          17.347895
75%     2010.00000             4.300000      6.000000          20.600625
max     2017.00000             8.400000     16.000000          47.087143

           City MPG   Highway MPG  Combined MPG  CO2 Emission Grams/Mile  \
count  35952.000000  35952.000000  35952.000000             35952.000000
mean      17.646139     23.880646     19.929322               475.316339
std        4.769349      5.890876      5.112409               119.060773
min        6.000000      9.000000      7.000000                37.000000
25%       15.000000     20.000000     16.000000               395.000000
50%       17.000000     24.000000     19.000000               467.736842
75%       20.000000     27.000000     23.000000               555.437500
max       58.000000     61.000000     56.000000              1269.571429

       Fuel Cost/Year
count    35952.000000
mean      1892.598465
std        506.958627
min        600.000000
25%       1500.000000
50%       1850.000000
75%       2200.000000
max       5800.000000

In [232]:
print(vehicles_df.head(10))

               Make                Model  Year  Engine Displacement  \
0        AM General    DJ Po Vehicle 2WD  1984                  2.5
1        AM General     FJ8c Post Office  1984                  4.2
2        AM General  Post Office DJ5 2WD  1985                  2.5
3        AM General  Post Office DJ8 2WD  1985                  4.2
4  ASC Incorporated                  GNX  1987                  3.8
5             Acura          2.2CL/3.0CL  1997                  2.2
6             Acura          2.2CL/3.0CL  1997                  2.2
7             Acura          2.2CL/3.0CL  1997                  3.0
8             Acura          2.3CL/3.0CL  1998                  2.3
9             Acura          2.3CL/3.0CL  1998                  2.3

   Cylinders     Transmission         Drivetrain                Vehicle Class  \
0        4.0  Automatic 3-spd      2-Wheel Drive  Special Purpose Vehicle 2WD
1        6.0  Automatic 3-spd      2-Wheel Drive  Special Purpose Vehicle 2WD
2        4.0  Automatic 3-spd   Rear-Wheel Drive  Special Purpose Vehicle 2WD
3        6.0  Automatic 3-spd   Rear-Wheel Drive  Special Purpose Vehicle 2WD
4        6.0  Automatic 4-spd   Rear-Wheel Drive                 Midsize Cars
5        4.0  Automatic 4-spd  Front-Wheel Drive              Subcompact Cars
6        4.0     Manual 5-spd  Front-Wheel Drive              Subcompact Cars
7        6.0  Automatic 4-spd  Front-Wheel Drive              Subcompact Cars
8        4.0  Automatic 4-spd  Front-Wheel Drive              Subcompact Cars
9        4.0     Manual 5-spd  Front-Wheel Drive              Subcompact Cars

  Fuel Type  Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  \
0   Regular          19.388824        18           17            17
1   Regular          25.354615        13           13            13
2   Regular          20.600625        16           17            16
3   Regular          25.354615        13           13            13
4   Premium          20.600625        14           21            16
5   Regular          14.982273        20           26            22
6   Regular          13.733750        22           28            24
7   Regular          16.480500        18           26            20
8   Regular          14.982273        19           27            22
9   Regular          13.733750        21           29            24

   CO2 Emission Grams/Mile  Fuel Cost/Year
0               522.764706            1950
1               683.615385            2550
2               555.437500            2100
3               683.615385            2550
4               555.437500            2550
5               403.954545            1500
6               370.291667            1400
7               444.350000            1650
8               403.954545            1500
9               370.291667            1400

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [233]:
## Your Code here
print(f"The dataset contains information of {len(vehicles_df.columns)} different categories.")

The dataset contains information of 15 different categories.

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [234]:
print("Complete CSV-File, unaltered data:\n")
print(f"There are {len(vehicles_df['Make'].value_counts())} different car manufacturers and "
      f"{len(vehicles_df['Model'].value_counts())} different models.\n{vehicles_df['Make'].value_counts().index[0]} "
      f"is the manufacturers with the most cars in dataset.")

Complete CSV-File, unaltered data:

There are 127 different car manufacturers and 3608 different models.
Chevrolet is the manufacturers with the most cars in dataset.

In [235]:


print(f"Before merging of Manufacturers: {len(set(vehicles_df['Make'].value_counts().index))} different.")


vehicles_df["Make"][vehicles_df["Make"].str.contains("Dutton")] = "Dutton"
vehicles_df["Make"][vehicles_df["Make"].str.contains("BMW")] = "BMW"
vehicles_df["Make"][vehicles_df["Make"].str.contains("Grumman")] = "Grumman"
vehicles_df["Make"][vehicles_df["Make"].str.contains("PAD")] = "PAD"
vehicles_df["Make"][vehicles_df["Make"].str.contains("Saleen")] = "Saleen"

print(f"After merging of Manufacturers: {len(set(vehicles_df['Make'].value_counts().index))} different.")

Before merging of Manufacturers: 127 different.
After merging of Manufacturers: 122 different.

C:\Users\roman\AppData\Local\Temp/ipykernel_15476/1912596053.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles_df["Make"][vehicles_df["Make"].str.contains("Dutton")] = "Dutton"
C:\Users\roman\AppData\Local\Temp/ipykernel_15476/1912596053.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles_df["Make"][vehicles_df["Make"].str.contains("BMW")] = "BMW"
C:\Users\roman\AppData\Local\Temp/ipykernel_15476/1912596053.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles_df["Make"][vehicles_df["Make"].str.contains("Grumman")] = "Grumman"
C:\Users\roman\AppData\Local\Temp/ipykernel_15476/1912596053.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles_df["Make"][vehicles_df["Make"].str.contains("PAD")] = "PAD"
C:\Users\roman\AppData\Local\Temp/ipykernel_15476/1912596053.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles_df["Make"][vehicles_df["Make"].str.contains("Saleen")] = "Saleen"

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

In [236]:
vehicles_df["CO2 Emission Grams/Km"] = vehicles_df["CO2 Emission Grams/Mile"] * 0.621371
print(vehicles_df[["CO2 Emission Grams/Mile","CO2 Emission Grams/Km"]].head(10))

   CO2 Emission Grams/Mile  CO2 Emission Grams/Km
0               522.764706             324.830828
1               683.615385             424.778775
2               555.437500             345.132755
3               683.615385             424.778775
4               555.437500             345.132755
5               403.954545             251.005640
6               370.291667             230.088503
7               444.350000             276.106204
8               403.954545             251.005640
9               370.291667             230.088503

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [237]:
vehicles_df["Combined km_per_liter"] = vehicles_df["Combined MPG"] * 0.42514285110463595
print(vehicles_df[["Combined MPG","Combined km_per_liter"]].head(10))

   Combined MPG  Combined km_per_liter
0            17               7.227428
1            13               5.526857
2            16               6.802286
3            13               5.526857
4            16               6.802286
5            22               9.353143
6            24              10.203428
7            20               8.502857
8            22               9.353143
9            24              10.203428

In [238]:
# How many car makers are there? How many models? Which car maker has the most cars in the dataset?
print(f"There are {len(vehicles_df['Make'].value_counts())} different car manufacturers and "
      f"{len(vehicles_df['Model'].value_counts())} different models.\n{vehicles_df['Make'].value_counts().index[0]} "
      f"is the manufacturers with the most cars in dataset.")

There are 122 different car manufacturers and 3608 different models.
Chevrolet is the manufacturers with the most cars in dataset.

In [252]:
# What's the frequency of different transmissions, drivetrains and fuel types?
# print(vehicles_df["Transmission"].unique())
vehicles_df['Transmission_Man_or_Auto'] = list(map(lambda x: "Automatic" if ("Auto" in x) else "Manual",vehicles_df['Transmission']))
transm_lst = list(vehicles_df['Transmission_Man_or_Auto'])
print(f"Of all the cars in the Dataframe {round(transm_lst.count('Automatic') * 100 / len(transm_lst), 2)} % have a "
      f"form of automatic transmission and {round(transm_lst.count('Manual') * 100 / len(transm_lst), 2)} % a "
      f"form of manual transmission.")

Of all the cars in the Dataframe 67.56 % have a form of automatic transmission and 32.44 % a form of manual transmission.

In [262]:
# What's the car that consumes the least/most fuel?

index_least_fuel = np.min(vehicles_df["Fuel Barrels/Year"].index)
index_most_fuel = np.max(vehicles_df["Fuel Barrels/Year"].index)

0

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [28]:
## your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [20]:
## Your Code is here