# SQL Queries - Group By
***

**Set up of SQLAlchemy**

In [1]:
import pandas as pd
import getpass
import sqlalchemy as sa
import numpy as np

In [2]:
driver = 'mysql+pymysql'
user = 'Roman'
password = getpass.getpass(prompt='Your password:'"")
ip = '127.0.0.1'

Your password:········

In [3]:
connection_string = f'{driver}://{user}:{password}@{ip}'

In [4]:
db_connection = sa.create_engine(connection_string)

In [5]:
# easy check, whether connecting was successful
# insp = sa.inspect(db_connection)  
# db_list = insp.get_schema_names()
# print(db_list)

***

##  1. In the table actor, what last names are not repeated?

In [6]:
query=f"select last_name from sakila.actor group by last_name having count(*) = 1;"
result = pd.read_sql_query(query, db_connection)
names_lst = result["last_name"].to_list()

In [7]:
print(f"The following last names are not repeated:")
for _ in range(len(names_lst)-1):
    print(f"{names_lst[_].capitalize()}, ", end="")
    if _ != 0 and _ % 12 == 0:
        print()
print(f"{names_lst[-1].capitalize()}.", end="")

The following last names are not repeated:
Astaire, Bacall, Bale, Ball, Barrymore, Basinger, Bergen, Bergman, Birch, Bloom, Bridges, Bullock, Carrey,
Chaplin, Close, Costner, Crowe, Cruise, Cruz, Damon, Day-lewis, Dern, Dreyfuss, Dunst, Gable,
Gibson, Goldberg, Grant, Hawke, Heston, Hope, Hudson, Hunt, Hurt, Jolie, Jovovich, Leigh,
Lollobrigida, Malden, Mansfield, Marx, Mcdormand, Miranda, Nicholson, Pesci, Pfeiffer, Phoenix, Pinkett, Pitt,
Posey, Presley, Reynolds, Ryder, Sinatra, Sobieski, Stallone, Suvari, Swank, Tautou, Tomei, Voight,
Walken, Wayne, Wilson, Witherspoon, Wray.

***

##  2. Which last names appear more than once?

In [8]:
query=f"select last_name from sakila.actor group by last_name having count(*) > 1;"
result = pd.read_sql_query(query, db_connection)
names_lst = result["last_name"].to_list()

In [9]:
print(f"The following last names are not repeated:")
for _ in range(len(names_lst)-1):
    print(f"{names_lst[_].capitalize()}, ", end="")
    if _ != 0 and _ % 12 == 0:
        print()
print(f"{names_lst[-1].capitalize()}.", end="")

The following last names are not repeated:
Akroyd, Allen, Bailey, Bening, Berry, Bolger, Brody, Cage, Chase, Crawford, Cronyn, Davis, Dean,
Dee, Degeneres, Dench, Depp, Dukakis, Fawcett, Garland, Gooding, Guiness, Hackman, Harris, Hoffman,
Hopkins, Hopper, Jackman, Johansson, Keitel, Kilmer, Mcconaughey, Mckellen, Mcqueen, Monroe, Mostel, Neeson,
Nolte, Olivier, Paltrow, Peck, Penn, Silverstone, Streep, Tandy, Temple, Torn, Tracy, Wahlberg,
West, Williams, Willis, Winslet, Wood, Zellweger.

***

## 3. Using the rental table, find out how many rentals were processed by each employee.

In [10]:
query=f"select staff_id as staff_mem, count(rental_id) as num_of_rentals from sakila.rental group by staff_id;"
result = pd.read_sql_query(query, db_connection)

In [11]:
query=f"select first_name, last_name from sakila.staff;"
st_names = pd.read_sql_query(query, db_connection)

In [12]:
print("The following staff members processed that many rentals respectevely:")
for _ in range(len(result)):
    print(f" + {st_names['first_name'].iloc[_]} {st_names['last_name'].iloc[_]} ({result['staff_mem'].iloc[_]}): "
          f"{result['num_of_rentals'].iloc[_]}")

The following staff members processed that many rentals respectevely:
 + Mike Hillyer (1): 8040
 + Jon Stephens (2): 8004

***

## 4. Using the film table, find out how many films were released.

In [13]:
result = db_connection.execute("select count(*) as num_of_films from sakila.film;")
print("Number of films in database: ", end="")
for _ in result:
    print(str(_).replace("(","").replace(")","").replace(",",""), end="")
print(".")

Number of films in database: 1000.

***

## 5. Using the film table, find out how many films there are of each rating.

In [14]:
query=f"select rating, count(rating) as num_in_inventory from sakila.film group by rating;"
result = pd.read_sql_query(query, db_connection)
result

  rating  num_in_inventory
0     PG               194
1      G               178
2  NC-17               210
3  PG-13               223
4      R               195

***

## 6. What is the mean length of the film for each rating type. 
Round off the average lengths to two decimal places

In [15]:
query=f"select rating, round(avg(length),2) as average_length from sakila.film group by rating;"
result = pd.read_sql_query(query, db_connection)
result

  rating  average_length
0     PG          112.01
1      G          111.05
2  NC-17          113.23
3  PG-13          120.44
4      R          118.66

***

## 7. Which kind of movies (rating) have a mean duration of more than two hours?

In [16]:
query=f"select rating, round(avg(length),2) as average_length from sakila.film group by rating having average_length > 120;"
result = pd.read_sql_query(query, db_connection)
result

  rating  average_length
0  PG-13          120.44