# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [3]:
cars = pd.read_csv("data/vehicles.csv")

In [4]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [77]:
### 3608

3608

In [5]:
# code here to keep the result!
print(f"There are {cars['Model'].nunique()} car models in this dataset.")

There are 3608 car models in this dataset.

**Group by the data by the Make  using count function**

In [6]:
cars.groupby("Make").count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

**What brand has the most cars?**

In [ ]:
### your code us here

value_counts and indexing

In [10]:
print(f"{cars['Make'].value_counts().index[0]} has the most cars ({cars['Make'].value_counts()[0]}).")

Chevrolet has the most cars (3643).

In [ ]:
groupby().count()sort_values(ascending=False) and indexing

In [11]:
cars.groupby("Make")["Make"].count().sort_values(ascending=False).index[0]

'Chevrolet'

<b>show the average CO2_Emission_Grams/Km  by Brand

In [12]:
cars["CO2 Emission Grams/km"]=cars["CO2 Emission Grams/Mile"]*(1/1.60934)
cars[["CO2 Emission Grams/km", "CO2 Emission Grams/Mile"]].head(10)

   CO2 Emission Grams/km  CO2 Emission Grams/Mile
0             324.831736               522.764706
1             424.779962               683.615385
2             345.133719               555.437500
3             424.779962               683.615385
4             345.133719               555.437500
5             251.006341               403.954545
6             230.089146               370.291667
7             276.106976               444.350000
8             251.006341               403.954545
9             230.089146               370.291667

In [95]:
cars.groupby(['Make'])[['CO2 Emission Grams/km']].mean()

                             CO2 Emission Grams/km
Make
AM General                              379.881345
ASC Incorporated                        345.133719
Acura                                   262.583000
Alfa Romeo                              288.287195
American Motors Corporation             314.264744
...                                            ...
Volkswagen                              244.038998
Volvo                                   270.796572
Wallace Environmental                   408.857065
Yugo                                    221.251107
smart                                   153.498052

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [15]:
cars.groupby('Make')[['CO2 Emission Grams/km']].mean().sort_values(ascending=False, by='CO2 Emission Grams/km')

                                    CO2 Emission Grams/km
Make
Vector                                         651.919248
Superior Coaches Div E.p. Dutton               552.213951
S and S Coach Company  E.p. Dutton             552.213951
Bugatti                                        542.497235
Laforza Automobile Inc                         502.012683
...                                                   ...
MINI                                           194.935105
Daihatsu                                       192.742404
Fiat                                           189.311494
smart                                          153.498052
Fisker                                         105.011992

[127 rows x 1 columns]

or more simple as series (displays differently)

In [16]:
cars.groupby('Make')['CO2 Emission Grams/km'].mean().sort_values(ascending=False)

Make
Vector                                651.919248
Superior Coaches Div E.p. Dutton      552.213951
S and S Coach Company  E.p. Dutton    552.213951
Bugatti                               542.497235
Laforza Automobile Inc                502.012683
                                         ...
MINI                                  194.935105
Daihatsu                              192.742404
Fiat                                  189.311494
smart                                 153.498052
Fisker                                105.011992
Name: CO2 Emission Grams/km, Length: 127, dtype: float64

**Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.**

In [18]:
cars["Decade"] = pd.cut(cars['Year'], bins=[1980,1990,2000,2010,2020], labels=["1980s","1990s","2000s","2010s"])

In [19]:
cars[["Year","Decade"]].head(10)

   Year Decade
0  1984  1980s
1  1984  1980s
2  1985  1980s
3  1985  1980s
4  1987  1980s
5  1997  1990s
6  1997  1990s
7  1997  1990s
8  1998  1990s
9  1998  1990s

In [20]:
cars.groupby("Decade")["Model"].count()

Decade
1980s     7926
1990s     9169
2000s    10866
2010s     7991
Name: Model, dtype: int64

In [129]:
cars.groupby("Decade")["CO2 Emission Grams/km"].mean().sort_values()

Decade
2010s    261.819246
2000s    300.148706
1990s    305.704902
1980s    310.591939
Name: CO2 Emission Grams/km, dtype: float64

***

**Did cars consume more gas in the eighties?**

show the average City_Km/Liter by year_range

In [23]:
cars["City Km/Liter"]=cars["City MPG"]*(1.60934/3.78541)
cars["Highway Km/Liter"]=cars["Highway MPG"]*(1.60934/3.78541)
cars["Combined Km/Liter"]=cars["Combined MPG"]*(1.60934/3.78541)
#cars.rename(columns={"City MPG":"City Km/Liter","Highway MPG":"Highway Km/Liter","Combined MPG":"Combined Km/Liter"}, inplace=True)

In [26]:
cars.groupby(["Decade"])[["City Km/Liter"]].mean().sort_values(by="City Km/Liter")

        City Km/Liter
Decade
1990s        7.204198
2000s        7.208413
1980s        7.349833
2010s        8.394430

**Answer: cars in the 80s used more full the in the 90s and 00s**

**Emission by Decade**

In [21]:
cars.groupby(["Decade","Make"])[["CO2 Emission Grams/km"]].mean()

        CO2 Emission Grams/km
Decade
1980s              310.591939
1990s              305.704902
2000s              300.148706
2010s              261.819246

**Cars in the 80s had the highest emission.**

***

**Which brands are more environment friendly?**

In [53]:
topten_lst = []
for d, m in cars.groupby(["Decade","Make"])["CO2 Emission Grams/km"].mean().sort_values().index:
    if m not in topten_lst:
        topten_lst.append(m)
    if len(topten_lst) > 10:
        break
print("The following  brands have the lowest CO2 Emission (g/km): ")
for _ in topten_lst:
    print(" +", _)

The following  brands have the lowest CO2 Emission (g/km):
 + Fisker
 + smart
 + Daihatsu
 + Fiat
 + MINI
 + Geo
 + Alfa Romeo
 + Scion
 + Honda
 + Suzuki
 + Mazda

In [54]:
# complete data
cars.groupby(["Decade","Make"])["CO2 Emission Grams/km"].mean().sort_values()

Decade  Make
2010s   Fisker                         105.011992
2000s   smart                          153.392764
2010s   smart                          153.543176
1980s   Daihatsu                       182.821565
2010s   Fiat                           189.311494
                                          ...
        Vector                                NaN
        Vixen Motor Company                   NaN
        Volga Associated Automobile           NaN
        Wallace Environmental                 NaN
        Yugo                                  NaN
Name: CO2 Emission Grams/km, Length: 508, dtype: float64

***

In [55]:
# decade and make
cars.groupby(["Decade","Make"])[["CO2 Emission Grams/km"]].mean()

                                    CO2 Emission Grams/km
Decade Make
1980s  AM General                              379.881345
       ASC Incorporated                        345.133719
       Acura                                   264.463085
       Alfa Romeo                              288.426326
       American Motors Corporation             314.264744
...                                                   ...
2010s  Volkswagen                              214.410174
       Volvo                                   242.932543
       Wallace Environmental                          NaN
       Yugo                                           NaN
       smart                                   153.543176

[508 rows x 1 columns]

***

**Does the drivetrain affect fuel consumption?**

In [56]:
cars.groupby(["Drivetrain"])[["Highway Km/Liter","City Km/Liter"]].mean().sort_values(by='Highway Km/Liter', ascending=False)

                            Highway Km/Liter  City Km/Liter
Drivetrain
2-Wheel Drive, Front               14.029714      10.628571
Front-Wheel Drive                  12.166210       9.002214
All-Wheel Drive                    10.882531       7.785598
4-Wheel Drive                       9.668584       7.190861
Rear-Wheel Drive                    9.023946       6.556574
4-Wheel or All-Wheel Drive          8.347130       6.392049
2-Wheel Drive                       8.222444       6.642480
Part-time 4-Wheel Drive             8.115385       6.215696

**Do cars with automatic transmission consume more fuel than cars with manual transmission?**

In [149]:
cars['Trans'] = list(map(lambda x: "Automatic" if (x.startswith('Auto')) else "Manual", cars['Transmission']))

In [153]:
cars.groupby("Trans")[["City Km/Liter"]].mean().sort_values(by="City Km/Liter",ascending=False)

           City Km/Liter
Trans
Manual          7.968348
Automatic       7.278292

**Use `groupby` and `aggregate` with different aggregation measures for different columns:**

aggregate with average City_Km/Liter and the count of the Trans

In [143]:
cars.groupby(["Trans"]).agg({"City Km/Liter":"mean","Trans":"count"})

           City_Km/Liter  Trans
Trans
Automatic       7.278292  24290
Manual          7.968348  11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [183]:
cars.groupby(["Trans"])[["City Km/Liter"]].agg(min)

           City Km/Liter
Trans
Automatic       2.976000
Manual          2.550857